# Express Server Port
PORT=5000

# MongoDB Connection URI (e.g. mongodb+srv://username:password@cluster.mongodb.net/otakuvault)
MONGO_URI=mongodb://localhost:27017/otakuvault

# Environment
NODE_ENV=development
